<section class="h-100">
    <section [class.hide]="MODE_PROFILE!='MY_QUESTIONS'"  class="d-flex flex-column gap-4 h-100">
        <div class="d-flex justify-content-between">
            <div class="align-items-center d-flex gap-2" >
                <img src="/assets/icons/question-transparent.svg" class="vw-1" alt="" srcset="">
                <p class="fs-1-1vw" style="color: #1E429F;">  سوالات من</p>
              </div>
              <div class="align-items-center border d-flex gap-1 pe-2 ps-2 rounded-3">
                <i class="fa fa-magnifying-glass  text-gray-300 vw-1-3 top-4 right-7" alt=""></i>
                <input class="search form-control" type="text" placeholder="جستجو">
            </div>
            <button class="align-items-center btn btn-primary d-flex gap-2 vw-10" style="background-color: #1E429F">
              <i class="fa fa-question-circle text-light"></i>
              <span class="text-nowrap text-9vw"  (click)="ChangeMode('سوالات من')" >سوالت رو بپرس</span>
          </button>
        </div>
        <!-- <ng-container [ngTemplateOutlet]="NO_QUESTION"></ng-container> -->
       
        <div class="border d-flex flex-column gap-4 pb-3 pe-3 ps-3 pt-3 rounded-4 pointer">
                <div class="d-flex justify-content-between align-items-center">
                  <div class=" d-flex gap-3 vw-85" >
                    <p class="text-blue-500">#<span>1</span></p>
                    <p class="fs-1-2vw">دریافت ایمیل AWS SES در gmail زمان زیادی می برد و پیوند تأیید مشکوک نشان داده می شود</p>        
                  </div>
                    <div class="d-flex gap-3 justify-content-center pe-5 vw-15" >
                      <i class="fa-thumbs-up far position-relative pointer"><p class="bg-bex-500 p-1 position-absolute rounded three-point-end fs-7px top-minus11 left-10" style="max-width: 30px">256</p></i>
                      <i class="far fa-commenting position-relative pointer"><p class="bg-green-500 p-1 position-absolute rounded three-point-end fs-7px top-minus11 left-10" style="max-width: 30px">256</p></i>
                      <i [class]="SAVE_QUESTION==false ? 'bi-bookmark-plus':'bi-bookmark-plus-fill text-orang-500' " class="bi  pointer" (click)="SAVE_QUESTION= !SAVE_QUESTION"></i>
                    </div>
                 </div>
                 <div class="d-flex align-items-center">
                  <div class="bg-blue-100 d-flex pb-2 pe-4 ps-4 pt-2 rounded-4" >
                    <i class="fa fa-exclamation-circle ps-2 text-blue-400"></i>
                  <p class="text-9vw" >من aws SES را در سرورم ادغام کرده ام. من با مشکلی روبرو هستم وقتی ایمیلی را از سرورم به کاربر (gmail) ارسال می‌کنم، زمان زیادی طول می‌کشد تا در آدرس ایمیل کاربر دریافت شود. به طور متوسط ​​حدود 5-6 دقیقه طول می کشد (...</p>
                  </div>
                  <div class="d-flex gap-3 justify-content-center vw-15">
                    <i class="fa fa-desktop text-blue-400"></i>
                    <p class="text-blue-400 text-9vw" >سیستم یک</p>
                  </div>
                 </div>
                 <div class="d-flex justify-content-between align-items-center" >
                  <div class="d-flex gap-4 vw-85">
                    <a><i class="bg-blue-100 fa fa-paperclip p-2 rounded-3 text-gray-600"></i></a>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw" ><a class="text-blue-400" >اندروید</a></p>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw" ><a class="text-blue-400" >ایمیل </a> </p>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw"><a class="text-blue-400" > aws SES </a></p>
                  </div>
                  <div class="align-items-baseline d-flex gap-3 justify-content-center text-gray-600 text-9vw vw-15">
                    <p class="text-7vw" > 10 دقیقه پیش</p>
                   <div class="align-items-baseline d-flex gap-2 text-1vw">
                    <p ><span>علی</span> - <span>اکبر</span></p>
                    <i class="far fa-user"></i>
                   </div>
                  </div>
                 </div>
       </div>
    </section>
    
    <section [class.hide]="MODE_PROFILE!='SAVES'"  class="d-flex flex-column gap-4 h-100">
       <div class="d-flex justify-content-between">
        <div class="align-items-center d-flex gap-2">
            <i  class="fa fa-tags" style="color: #1E429F;"></i>
            <p class="fs-1-1vw" style="color: #1E429F;">ذخیره ها</p>
          </div>
          <div class="align-items-center border d-flex gap-1 pe-2 ps-2 rounded-3">
            <i class="fa fa-magnifying-glass  text-gray-300 top-4 right-7 vw-1-3"  alt=""></i>
            <input class="search form-control" type="text" placeholder="جستجو">
          </div>
          <div>
            <button class="align-items-center btn btn-primary d-flex gap-2 vw-10" style="background-color: #1E429F;" (click)="ChangeMode('ذخیره ها')">
                <i class="fa fa-question-circle text-light"></i>
                <span class="text-nowrap text-9vw" >سوالت رو بپرس</span>
            </button>
          </div>
       </div>
       <!-- <ng-container [ngTemplateOutlet]="NO_SAVES"></ng-container> -->
         <div class="border d-flex flex-column gap-4 pb-3 pe-3 ps-3 pt-3 rounded-4 ">
                <div class="d-flex justify-content-between align-items-center">
                  <div class=" d-flex gap-3 vw-85" >
                    <p class="text-blue-500">#<span>1</span></p>
                    <p class="fs-1-2vw">دریافت ایمیل AWS SES در gmail زمان زیادی می برد و پیوند تأیید مشکوک نشان داده می شود</p>        
                  </div>
                    <div class="d-flex gap-3 justify-content-center pe-5 vw-15">
                      <i class="fa-thumbs-up far position-relative pointer"><p class="bg-bex-500 p-1 position-absolute rounded three-point-end fs-7px top-minus11 left-10" style="max-width: 30px">256</p></i>
                      <i class="far fa-commenting position-relative pointer"><p class="bg-green-500 p-1 position-absolute rounded three-point-end fs-7px top-minus11 left-10" style="max-width: 30px">256</p></i>
                      <i [class]="SAVE_QUESTION==false ? 'bi-bookmark-plus':'bi-bookmark-plus-fill text-orang-500' " class="bi  pointer" (click)="SAVE_QUESTION= !SAVE_QUESTION"></i>
                    </div>
                 </div>
                 <div class="d-flex align-items-center">
                  <div class="bg-blue-100 d-flex pb-2 pe-4 ps-4 pt-2 rounded-4" >
                    <i class="fa fa-exclamation-circle ps-2 text-blue-400"></i>
                  <p class="text-9vw" >من aws SES را در سرورم ادغام کرده ام. من با مشکلی روبرو هستم وقتی ایمیلی را از سرورم به کاربر (gmail) ارسال می‌کنم، زمان زیادی طول می‌کشد تا در آدرس ایمیل کاربر دریافت شود. به طور متوسط ​​حدود 5-6 دقیقه طول می کشد (...</p>
                </div>
                  <div class="d-flex gap-3 justify-content-center vw-15">
                    <i class="fa fa-desktop text-blue-400"></i>
                    <p class="text-blue-400 text-9vw">سیستم یک</p>
                  </div>
                 </div>
                 <div class="d-flex justify-content-between align-items-center pb-4" style="border-bottom: 2px dashed #e3e3e3;" >
                  <div class="d-flex gap-4 vw-85">
                    <a><i class="bg-blue-100 fa fa-paperclip p-2 rounded-3 text-gray-600"></i></a>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw" ><a class="text-blue-400" >اندروید</a></p>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw" ><a class="text-blue-400" >ایمیل </a> </p>
                    <p class="bg-blue-100  p-2 rounded-3 text-blue-400 text-9vw"><a class="text-blue-400" > aws SES </a></p>
                  </div>
                  <div class="align-items-baseline d-flex gap-3 justify-content-center text-gray-600 text-9vw vw-15" >
                    <p class="text-7vw"> 10 دقیقه پیش</p>
                   <div class="align-items-baseline d-flex gap-2 text-1vw">
                    <p ><span>علی</span> - <span>اکبر</span></p>
                    <i class="far fa-user"></i>
                   </div>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class=" d-flex pb-2 pe-4 ps-4 pt-2 rounded-4 text-green-600 bg-green-100 gap-2 vw-80">
                    <i class="bi bi-chat-text"></i>
                  <p class="text-9vw">git pull سعی می کند پس از واکشی commit ها به طور خودکار ادغام شود. به متن حساس است، بنابراین تمام commit های کشیده شده در شاخه فعال فعلی شما ادغام می شوند. git pull به طور خودکار ادغام ...</p>
                  </div>
                  <div class="d-flex gap-3 justify-content-end text-green-700 vw-20" >
                    <p class="p-2 rounded-2 text-7rem pointer" style="border: 1px solid #046C4E;">دیدن جواب</p>
                    <div class="align-items-center d-flex gap-2 text-1vw">
                      <p>مریم</p>
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                </div>

       </div> 
    </section>
    <section [class.hide]="MODE_PROFILE!='SITTING'" class="h-100">
        <p>تنظیمات</p>
    </section>
</section>

<ng-template #NO_QUESTION >
<div class="d-flex flex-column h-100 justify-content-center justify-content-center gap-3">
    <div class="d-flex flex-column gap-4 align-items-center">
        <i class="fa fa-cloud fs-12vw" ></i>
        <p>سوالی نداره !!!</p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="align-items-center btn btn-primary d-flex gap-2 vw-10" style="background-color: #1E429F">
            <i class="fa fa-question-circle text-light"></i>
            <span class="text-nowrap text-9vw"  (click)="ChangeMode()" >سوالت رو بپرس</span>
        </button>
      </div>
</div>
</ng-template>


<ng-template #NO_SAVES >
<div class="d-flex flex-column h-100 justify-content-center justify-content-center gap-3">
    <div class="d-flex flex-column gap-4 align-items-center">
        <i class="fa fa-inbox fs-12vw"></i>
        <p>سوالی نداره !!!</p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="align-items-center btn btn-primary d-flex gap-2 vw-10" style="background-color: #1E429F">
            <i class="fa fa-question-circle text-light"></i>
            <span class="text-nowrap text-9vw"  (click)="ChangeMode()" >سوالت رو بپرس</span>
        </button>
      </div>
</div>
</ng-template>